
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaginaNoEncontrada</title>
</head>
<body>
    <div> 
        <center>
            <img src="~/Images/Error404.png" />
            <br />
            <a href="@Url.Action("InicioSesion", "Login")">Regresar al Login</a>
        </center>
    </div>
</body>
</html>
